.slideshow-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  /* --translate-x: calc(var(--current-image) * -100%);
  transform: translateX(var(--translate-x)); */
}

.slideshow-container::-webkit-scrollbar {
  /* display: none; */
  /* // hide the scrollbar */
}

.slideshow-container > * {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

/* new scrol ---------- */
.slider {
  position: relative;
  height: 100vh;
  /* overflow: hidden; */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
}

.controls button {
  padding: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.radio-buttons {
  position: absolute;
  bottom: 0;
  right: 50%;
}
